<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/footer.css">
</head>
<body>
<div class="footer">

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <img class="logo-footer" src="../image/logo_footer.png"/>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
            <div class="title-footer">Minimal Ceramic</div>
            <div class="content-footer">
                <p>80 Truc Khe Str, Ha Noi Viet Nam</p>
                <p>+84 123 456-789</p>
                <p>info@mnm.ceramic.com</p>
            </div>
        </div>
        <div class="col-2">
            <div class="title-footer">INFORMATION</div>
            <div class="content-footer">
                <p>Care & Use</p>
                <p>Shipping & Return</p>
                <p>Privacy Polity</p>
                <p>Term & Condition</p>
            </div>
        </div>
        <div class="col-2">
            <div class="title-footer">BRAND</div>
            <div class="content-footer">
                <p>Our story</p>
                <p>Contact</p>
            </div>
        </div>
        <div class="col-2 news">
            <div class="title-footer" style="margin-bottom: 12px">NEWSLESTER</div>
            <div class="content-footer">
                <div class="email">Email</div>
                <input class="input-email" type="text"  placeholder="Your email here" class="input-email"/></div>
            <div class="">
                <a href=""><img src="../image/fb.png" height="20" width="20"/></a>
                <a href=""><img src="../image/ins.png" height="20" width="20"/></a>
                <a href=""><img src="../image/yt.png" height="20" width="20"/></a>
                <button type="submit" >SUBMIT</button>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
</body>
</html>