<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/footer.css">
</head>
<body>
<div class="footer">
    <div>
        <div class="logo-footer"><img src="../image/logo_footer.png" height="240" width="456"/></div>
    </div>
    <div>
        <div><div class="title-footer">Minimal Ceramic</div><div class="content-footer"></div></div>
        <div><div class="title-footer">INFORMATION</div><div class="content-footer"></div></div>
        <div><div class="title-footer">BRAND</div><div class="content-footer"></div></div>
        <div><div class="title-footer">NEWSLESTER</div><div class="content-footer"></div></div>
    </div>
</div>
</body>
</html>