<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/header.css">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="row d-flex">
            <div class="col-1"></div>
            <div class="tab col-2 p-2"><img src="../image/tab.png" height="25" width="24"/></div>
            <div class="col-2"></div>
            <div class="logo_header col-2 p-2"><img src="../image/logo_header.png" height="39" width="153"/></div>
            <div class="col-2"></div>
            <div class="col-2 p-2">
                <img src="../image/cart.png" height="24px" width="24px"/>
                <img src="../image/account.png" height="25" width="24"/></div>
            <div class="col-1"></div>
        </div>
    </div>


</div>
</body>
</html>